@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow: auto !important;
    font-family: 'Reddit Sans', sans-serif;
    font-style: normal;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
